/* ==================== Estilos globales ==================== */
* {
    -fx-font-family: "Montserrat"; /* Fuente predeterminada */
    -fx-text-fill: #333333; /* Color de texto predeterminado */
}

/* ==================== Estilos para VBox ==================== */
.vbox {
    -fx-background-color: white;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

/* ==================== Estilos para TableView ==================== */
.table-view {
    -fx-background-color: #F4F4F4; /* Fondo de la tabla */
    -fx-border-color: #D9D9D9; /* Color del borde */
    -fx-border-width: 1px;
}

/* Filas de la tabla */
.table-view .table-row-cell {
    -fx-border-width: 0 0 1px 0; /* Borde inferior de cada fila */
    -fx-background-color: #F4F4F4; /* Fondo de las filas */
    -fx-border-color: #D9D9D9; /* Color del borde */
    -fx-border-style: solid; /* Estilo de borde */
    -fx-font-family: "Montserrat Bold";
    -fx-font-size: 16px; /* Tamaño de texto */
    -fx-text-fill: #8f939b; /* Color de texto */
    -fx-transition: background-color 0.3s ease; /* Transición de fondo */
    -fx-pref-height: 45px; /* Altura predeterminada por fila */
    -fx-alignment: CENTER_LEFT; /* Alineación del texto */
    -fx-min-height: 45px;  /* Altura mínima para las filas */
    -fx-max-height: 45px;  /* Altura máxima para las filas */
}

/* Placeholder */
.table-view .placeholder {
    -fx-font-family: "Montserrat";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: gray;
}

/* Encabezados */
.table-view .column-header {
    -fx-border-width: 0 1 1px 0; /* Borde inferior de 1px */
    -fx-border-color: #D9D9D9; /* Color del borde inferior */
    -fx-background-color: #f4f4f4; /* Fondo del encabezado */
    -fx-pref-height: 40px; /* Altura preferida del encabezado */
}

.table-view .column-header .label {
    -fx-font-family: "Montserrat";
    -fx-text-fill: #000000; /* Color del texto */
    -fx-font-size: 17px;
    -fx-padding: 10 0 10 1; /* Relleno interno */
    -fx-alignment: CENTER_LEFT; /* Alineación del texto */
}

/* Celdas */
.table-view .table-cell {
    -fx-border-width: 0 1px 0px 0; /* Borde derecho e inferior */
    -fx-border-color: #D9D9D9; /* Color del borde */
    -fx-padding: 5; /* Relleno interno de las celdas */
    -fx-alignment: CENTER_LEFT; /* Alineación del contenido */
}

/* Fondo suave al seleccionar */
.table-view .table-row-cell:selected {
    -fx-background-color: rgba(200, 200, 200, 0.25);
    -fx-text-fill: #000000;
}

/* Estilo cuando una fila tiene datos (no vacía) */
.table-view .table-row-cell:hover {
    -fx-background-color: rgba(200, 200, 200, 0.15); /* Fondo oscuro en hover */
    -fx-cursor: hand; /* El cursor cambia a "hand" cuando hay datos */
}

/* Asegurar que las celdas vacías no tengan hover ni cursor */
.table-view .table-row-cell:empty:hover {
    -fx-background-color: transparent; /* Sin fondo al hacer hover en celdas vacías */
    -fx-cursor: default; /* Cursor por defecto */
}

/* Asegurar que el fondo seleccionado no cambie al hacer hover en elementos seleccionados */
.table-view .table-row-cell:selected:hover {
    -fx-background-color: rgba(200, 200, 200, 0.25); /* Fondo suave al estar seleccionada */
}

/* Elimina el focus momentaneo que causa el parpadeo */
.table-row-cell:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* ==================== Estilos para Botones ==================== */
.button {
    -fx-font-family: "Montserrat Medium"; /* Fuente Montserrat Medium */
    -fx-background-color: #F4F4F4; /* Color del fondo */
    -fx-background-radius: 3px; /* Bordes redondeados */
    -fx-border-color: #d9d9d9; /* Color del borde */
    -fx-border-radius: 3px; /* Bordes redondeados */
    -fx-text-fill: #000000; /* Color del texto */
    -fx-padding: 8 0; /* Espaciado interno */
    -fx-font-size: 13px; /* Tamaño de fuente */
    -fx-cursor: hand; /* Cambiar el cursor al pasar por encima */
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0); /* Sin sombra inicial */
    -fx-transition: all 0.3s ease; /* Transiciones suaves */
}

.button:hover {
    -fx-font-family: "Montserrat Medium"; /* Cambia a Montserrat Bold */
    -fx-background-color: #E0E0E0; /* Fondo más oscuro */
    -fx-border-color: #bdbdbd; /* Cambia el color del borde */
    -fx-text-fill: #000000; /* Color del texto permanece */
}

.button:pressed {
    -fx-background-color: #D6D6D6; /* Fondo más oscuro aún */
    -fx-border-color: #b0b0b0; /* Borde más oscuro */
    -fx-font-family: "Montserrat Medium"; /* Fuente más destacada */
}

/* ==================== Estilos para HBox ==================== */
.hbox-container {
    -fx-background-color: white; /* Fondo claro */
    -fx-background-radius: 30px; /* Redondear las esquinas */
    -fx-border-color: #474952; /* Quitar bordes */
    -fx-border-radius: 30px;
    -fx-padding: 5px; /* Espaciado interno */
    -fx-spacing: 10px; /* Espaciado entre los elementos dentro del HBox */
    -fx-alignment: center; /* Centrar los elementos dentro del HBox */
}

.hbox-container .text-field {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-border-width: 0; /* Sin borde */
    -fx-pref-width: 200px; /* Ajustar el tamaño según sea necesario */
}

/* ==================== Estilos para TextField ==================== */
.text-field {
    -fx-background-color: #ffffff; /* Fondo blanco */
    -fx-background-radius: 3px; /* Redondear las esquinas */
    -fx-border-radius: 3px; /* Bordes redondeados */
    -fx-border-color: #f4f4f4; /* Color de borde suave */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-font-size: 16px; /* Tamaño de fuente */
    -fx-font-family: 'Montserrat Bold', sans-serif; /* Fuente moderna */
    -fx-text-fill: #333333; /* Color del texto */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.0, 0, 2); /* Efecto de sombra sutil */
}

.text-field:focused {
    -fx-border-color: #d1e2ea; /* Borde verde cuando está enfocado */
    -fx-background-color: #ffffff; /* Fondo blanco claro cuando tiene foco */
}

/* Estilos específicos para TextField con ID */
#productNameField, #pesoField, #itemCantidad, #productPriceField {
    -fx-background-color: #ffffff; /* Fondo blanco */
    -fx-background-radius: 3px; /* Redondear las esquinas */
    -fx-border-radius: 3px; /* Bordes redondeados */
    -fx-border-color: #f4f4f4; /* Color de borde suave */
    -fx-border-width: 2px; /* Ancho del borde */
    -fx-padding: 10px; /* Espaciado interno */
    -fx-font-size: 16px; /* Tamaño de fuente */
    -fx-font-family: 'Montserrat Bold', sans-serif; /* Fuente moderna */
    -fx-text-fill: #333333; /* Color del texto */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.0, 0, 2); /* Efecto de sombra sutil */
}

#productNameField:focused, #productPriceField:focused {
    -fx-border-color: #d1e2ea; /* Borde verde cuando está enfocado */
    -fx-background-color: #ffffff; /* Fondo blanco claro cuando tiene foco */
}